[Unit]
Description=Employee Node.js Application
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}

WorkingDirectory={{ app_dir }}

EnvironmentFile={{ app_dir }}/.env

ExecStart=/usr/bin/node {{ app_dir }}/app.js

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target